

<div>
  <h1 class="display-4">Welcome to Campus Placement Portal</h1>
  <p class="lead">Let employers find you, thousands of employers searching for the right candidates. Your Future Starts here</p>
  <hr class="my-4">
  <div class=" text-center">
  <p> Register yourself for this placement season.</p>
  <p class="lead" >
    <a class="btn btn-lg btn-primary" [routerLink]="['/student/dashboard']" role="button">I'm a Student</a>
    <a class="btn btn-lg btn-primary" [routerLink]="['/company/dashboard']" role="button">I'm a Company</a>
  </p></div>
</div>

<hr class="my-4">
<div class="row panel">
	<div class="col-md-12">
		<h3>MongoDB</h3>
		<p>MongoDB usually acts as the database for your application, in case you need to persist data. It's where we store records.</p>
	</div>

	<div class="col-md-12">
		<h3>Express Backend</h3>
		<p>ExpressJS is a web framework for nodejs, usually used as a backend for web apps in the MEAN stack.</p>
	</div>
 
	<div class="col-md-12">
		<h3>Angular-CLI</h3>
		<p>Angular-CLI to generate components, services and more.</p>
	</div>
  
	<div class="col-md-12">
     
		<h3>NodeJS</h3>
		<p>NodeJS powers express, and will be the layer for our server to run on.</p>

	</div>
</div>

