<nav class="navbar navbar-default">
	<div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" [routerLink]="['/student/dashboard']">Student Dashboard</a>
	    </div>
	    <div id="navbar" class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navebar-left">
	      </ul>

	      <ul class="nav navbar-nav navbar-right">
	      	<li><a [routerLink]="['/student/profile']">Profile</a></li>
	        <li class="active"><a (click)="onStudentLogout()" href="#">Logout</a></li>
	      </ul>
	    </div>
	</div>
</nav>

<div class="row">
	<div class="col-md-4 rounded" *ngFor="let job of all_jobs">
		<div class="login-card">
		<h3><p>{{job.title}}</p></h3>
    <small class="text-muted">{{job.location}}</small>
    <p style="height: 3em; overflow: hidden;">{{job.description}}</p>
    <small class="text-muted">CTC:  Rs {{job.expected_CTC}}</small>
		  <button [disabled]="applied.has(job._id)" class="btn btn-primary pull-right" (click)="applyForJob(job._id)">Apply</button>
		</div>
	</div>
</div>
